@using SOMSight.Utils
@using SOMSight.Utils.Extensions
@using SOMSightModels.Shared

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<!--================================= PAGINA REPORS======================================-->
<div id="pagina" class="embed_iframe">


    <iframe src="@ViewBag.MeasureMyPlatformUrl" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

</div>
<!--================================= PAGINA ======================================-->
