@using SOMSight.Utils

<div class="container" id="about_us">
    <div class="content">

        <h2>@TranslatorHelper.TranslateTextByIdentifier("about_us_text")</h2>
        <div class="row">
            <div class="der">
                <img src="@Url.Content("~/images/foto_about_us.jpg")" width="581" height="190" alt="about us">
            </div>
            <div class="izk">
                <p>
                    <strong>@TranslatorHelper.TranslateTextByIdentifier("About_Us_Introduction_Text") </strong>
                    <br /><br />
                    @TranslatorHelper.TranslateTextByIdentifier("About_Us_Description_Text")
                </p>
            </div>
        </div>

    </div>
</div>