<div class="container" id="our_products" style="background-image:url(@Url.Content("~/images/foto_our_products.jpg"))">
    <div class="opacity">


        <div class="content">


            <h2>Our Products</h2>


            <ul>
                <li><div><span>Hardware Inventory</span></div></li>
                <li><div><span>Software Inventory</span></div></li>
                <li><div><span>SAM</span></div></li>
                <li><div><span>Software Contract Evaluation</span></div></li>
                <li><div><span>Audit Support</span></div></li>
                <li><div><span>Compliance Expert</span></div></li>
                <li><div><span>License Manage</span></div></li>
            </ul>


        </div>
    </div>
</div>
