@using SOMSight.Utils

@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.LogoUrl = Url.Action("Index", "Home");
}

<style>
    .texto {
        font-size: 14px;
        width: 100%;
    }



    .contenedor {
        width: 100%;
        float: left;
        margin-top: 20px;
        margin-bottom: 30px;
    }
</style>

<div class="contenedor">
    <h1 class="texto" style="font-weight:bold; margin-bottom:10px; text-align: center;">@TranslatorHelper.TranslateTextByIdentifier("forgot_your_password_confirmation_text")</h1>
    <h4 class="texto" style="text-align: center;">
        @TranslatorHelper.TranslateTextByIdentifier("forgot_your_password_confirmation_detail_text")
    </h4>
</div>

	
