@using SOMSight.Utils.Extensions
@using SOMSight.Utils
@model List<SOMSight.Models.IndustryVM>

<h1>Select your Industry</h1>
<div class="contiene">

    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="row doble">

            <label>
                @if (Model[i] != null)
                {
                    @Html.RadioButton("Industry", Model[i].Id)
                    @TranslatorHelper.TranslateTextById(Model[i].TranslatorAdministratorDescriptionId)
                }
                
            </label>

            <label>
                @if ((i + 1) < Model.Count())
                {
                    i = i + 1;
                    if (Model[i] != null)
                    {
                        @Html.RadioButton("Industry", Model[i].Id)
                        @TranslatorHelper.TranslateTextById(Model[i].TranslatorAdministratorDescriptionId)
                    }
                 
                }
                
            </label>

        </div>
    }
    
    <div class="row last">
        <a id="Cancel" href="#" target="_self" class="button gris f_left">CANCEL</a>
        <a id="SelectIndustry" href="#" target="_self" class="button rojo f_right disabled">OK</a>
    </div>
</div>

