
@{
    ViewBag.Title = "My Assessments";
}


@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/assessment/assessment.js")"></script>
}


<div id="valla" style="background-image:url(@Url.Content("~/Images/valla_participate_assesments.jpg")">
    <div class="opacidad">
        <h1>Participate in Assesments</h1>
    </div>
</div>



        




<label id="NS_GridUrlActionGridCallBack" hidden>@Url.Action("GridListMyAssessmentCallback")</label>

<div id="pagina" class="gris">
    <div class="seccion">
        <div class="centro">
            <div id="grid-div">
            </div>
        </div>

    </div>

 </div>

