
@model SOMSight.Models.Tenant.EditTenantImages



<div class="modal-header">

    <h4 class="modal-title">Edit</h4>

</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">

                <label>Primary Image</label>
                <a href="#" class="btn btn-default upload-tenant-logo-1"><i class="glyphicon glyphicon-upload"></i> Upload</a>
                <div class="col-md-12">
                    &nbsp;
                </div>
                <div class="text-center">
                    <img src="@Model.TenantPrimaryImageUrl?var=@DateTime.UtcNow.Millisecond" width="300" height="84" />
                </div>
                <hr/>
                <label>Favicon</label>
                <a href="#" class="btn btn-default upload-tenant-favicon"><i class="glyphicon glyphicon-upload"></i> Upload</a>
                <div class="col-md-12">
                    &nbsp;
                </div><div class="text-center">
                    <img src="@Model.TenantFaviconImageUrl?var=@DateTime.UtcNow.Millisecond" width="16" height="16" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</div>