.contact-us-pop-up{
    width:94%!important;
    left:3% !important;
}

p.assessmentdescr {
    height:80px;
}

#pagina.formulario .the_captcha #CaptchaImage{
    font-size: 13px;
    color: #666;
    line-height: 16px;
    text-align: justify;
    margin-bottom: 20px;
    width: 221px;
    height: 98px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.btn_assignments.completed{
	background-image: url(../images/icono_grabar.png);
	padding: 10px 45px 10px 16px;

}





/**********************************
    Newsoft styles
**********************************/

.btn-register{
    background-color: #DF3925 !important;
    border: 0px !important;
    color: #fff;
    font-size: 14px !important;
    text-transform: uppercase;
    cursor: pointer;
    height: 35px !important;
    border-radius: 5px;
    text-align: center;
    -moz-border-radius: 5px;
    margin: 0px 0 10px 0 !important;
    font-family: gotham_medium, Arial, Helvetica, sans-serif;
}

.register-separator{
    height: 400px;
}


/**Modal**/
#opacidad{
	/*background-color: rgba(255,255,255,0.5);*/
    background-color: rgba(0,0,0,0.85);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	display: none;
}



.NS_modal {
	background-color: rgba(255,255,255,1);
	top: 18%;
	left: 58%;
	right: 0px;
	bottom: 0px;
	z-index: 101;
	display: none;
	width: 600px;
	min-height: 240px;
    max-height: 230px;
	margin-left: -400px;
	position: fixed;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.NS_modal  p.cerrar{
	width: 20px;
	height: 20px;
	background-image: url(../images/icono_cerrar_modal.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	right: 18px;
	top: 18px;
	cursor: pointer;
}
.NS_modal  .titulo{
	background-color: #3A9DD3;
	float: left;

	width: 100%;
	min-height: 56px;
	position: relative;
	padding: 18px 10px 10px 18px;
}
.NS_modal .titulo h2{
	font-size: 18px;
	color: #fff;
	line-height: 21px;
	width: 90%;
}
.NS_modal  .contenido{
	padding: 18px;
	float: left;
	width: 100%;
}
.NS_modal  .contenido form{
	margin: 0 0 25px 0;
}
.NS_modal  .contenido h5{
	margin: 0 0 12px 0;
	font-size: 18px;
	color: #333;
	/*text-transform: uppercase;*/
    font-family: segoe_ui_semibold, Arial, Helvetica, sans-serif;
    text-align:center;
}

.NS_modal  .contenido-justificado{
    text-align: justify !important;
}

.NS_modal  .contenido-justificado h5{
    margin: 6px 0 0 10px;
	font-size: 18px;
	color: #333;
	text-transform: uppercase;
    font-family: segoe_ui_semibold, Arial, Helvetica, sans-serif;
}

.NS_modal  .footer .ok-button{
	background-color: #F25022;
	border: solid 0px #ddd;
	min-height: 35px;
	font-size: 15px;
	color: #fff;
	width: 28%;
	float: right;
	text-align: center;
	padding: 0px 0 0 0px;
	cursor: pointer;
    margin: 30px 10px 0 0;
}

.NS_modal  .footer .ok-button:hover{
	background-color: #F8B719;
}

.NS_modal  .footer .cancel-button {
	border: solid 0px #ddd;
	min-height: 35px;
	font-size: 15px;
	color: #fff;
	width: 28%;
	float: right;
	text-align: center;
	padding: 0px 0 0 0px;
	cursor: pointer;
    margin: 30px 10px 0 0;
}

.NS_modal  .footer .cancel-button:hover{
	background-color: #AFAFAF;
}


@media screen and (max-width: 620px) {
    .NS_modal {
        width: 100%;
        margin-left: 0px;
    height: auto;
    min-height: auto;
    left: 0px;
    padding: 0 10px;
    background-color: rgba(0,0,0,0);
    }

    .NS_modal .contenido{
        background-color: rgba(255,255,255,1);
        min-height: 178px;
    }

    .NS_modal .footer{
        position: relative;
        top:-80px;
    }

    /*.NS_modal .footer .cancel-button {
        margin: -40px 10px 0 0;
    }

    .NS_modal .footer .ok-button {
        margin: -40px 10px 0 0;
    }*/
}


/*--------Proceso en ejecucion----*/
#proceso_en_ejecucion {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 11000;
}

#proceso_en_ejecucion div {
    width: 100%;
    height: 100%;
    position: absolute;
}

#proceso_en_ejecucion div img {
    width: 60px;
    height: 60px;
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*#AssessmentQuestionsForm #pagina .centro{
    position: unset !important;
}*/
#AssessmentQuestionsForm{
    text-align: center;
}

.texto-validacion span{
    font-size:14px !important;
    color: #DF3925;
    display: block;
    margin:10px;
}


.lista-texto-validacion li, .the_captcha p{
    font-size:14px !important;
    color: #DF3925 !important;
    margin:5px 0px 5px 0px;

}
.the_captcha p {
    text-align:center !important;
    font-weight: normal !important;
}

.lista-texto-validacion li:last-child{
    margin-bottom: 30px;
}


.free-assessment-menu-item{
    color: #DF3925 !important;
}


#recordatorio{
    z-index: 10000 !important;
}

a.disabled {
    pointer-events: none; 
    display: inline-block;
}




#CreateProblemForm .button, #CreateProcessContent .button, #CreateDigitalTransformationForm .button{
    text-align: center !important;
    font-size: 16px;
    color: #fff !important;
    height: 35px !important;
}

.field-validation-error {
    color: #FF0000;
    font-size: 14px;
    margin: 5px 0 0 0;
}



/*Next steps button*/
.next-steps{
    padding-bottom:10px;
}

.next-steps .btn-next-steps{
    background-color: #bbb;
    border: 0px;
    border: solid 1px #888;
    background-image: url(../images/icono_agregar.png);
    background-repeat: no-repeat;
    background-position: center right 15px;
    padding-right: 60px !important;
    line-height: 20px;
    height: 56px;
    max-width: 100%;
    line-height: 56px;
    border-radius: 10px;
    display: inline-block;
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    text-align: left;
    margin: 21px 0 0 20px;
}

#NextStepsForm .button, #CreateProcessContent .button, #NextStepsForm .button{
    text-align: center !important;
    font-size: 16px;
    color: #fff !important;
    height: 35px !important;
}

.industry_insights textarea {
    line-height:16px !important;
}


.the_captcha>a{
    color: #e56222;
    font-size: 14px;

}



/*Cambios 03/09/2018*/
.modal.modal-version{

}

.modal.modal-version h1{
        color: #fff;
    font-size: 40px;
    padding: 0px 0;
    line-height: 30px;
    width: auto;
    margin: 32px 0 32px 0px;
    font-size: 20px;
    margin: 0px !important;
    padding: 11px 18px;
    font-family: gotham_medium, Arial, Helvetica, sans-serif;
}


.modal.modal-version .contenido h2{
    font-size: 18px;
    color: #444;
    margin: 0px 0 11px 0 !important;
    font-family: gotham_bold, Arial, Helvetica, sans-serif;
}

.modal.modal-version .contenido .button{
        width: 170px;
    height: 35px;
    background-color: #F25022;
    float: none;
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: gotham_medium, Arial, Helvetica, sans-serif;
    line-height: 35px;
    right: 16px;
    bottom: 10px;
    z-index: 100;
    margin: 0px 0 0 0;
}

.modal.modal-version .contenido table .modal-button-view,
.modal.modal-version .contenido table .modal-button-download{    
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: gotham_medium, Arial, Helvetica, sans-serif;
    padding: 5px 10px;

}

.modal.modal-version .contenido table .modal-button-view{
    background: #F25022;
}
.modal.modal-version .contenido table .modal-button-download{
    background-color: #F25022;
}

.modal.modal-version .contenido .modal-button-download:hover,
.modal.modal-version .contenido .modal-button-view:hover,
.modal.modal-version .contenido .button:hover{
	background-color: #444 !important;
}

.modal.modal-version .contenido table th{
    font-size:14px;
}
.modal.modal-version .contenido table td{
    font-size:14px;
}



#versions {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
        width: 760px;
    margin: 0 auto;
        border: none;
}
#versions thead > tr, 
#versions tbody{
        display: block;
}

#versions tr,
#versions th
{
    height:50px;
}

/*760*/
#modal-assessment-version-advanced #versions thead th:nth-child(1){
    width:200px;
}
#modal-assessment-version-advanced #versions thead th:nth-child(2){
    width:200px;
}
#modal-assessment-version-advanced #versions thead th:nth-child(3){
    width:160px
}
#modal-assessment-version-advanced #versions thead th:nth-child(4){
    width:200px
}




#modal-assessment-version-advanced #versions tbody td:nth-child(1){
    width:200px;
}
#modal-assessment-version-advanced #versions tbody td:nth-child(2){
    width:200px;
}
#modal-assessment-version-advanced #versions tbody td:nth-child(3){
    width:160px;
}

#modal-assessment-version-advanced #versions tbody td:nth-child(4){
    width:200px;
}


#modal-assessment-version-basic #versions thead th:nth-child(1){
    width:400px;
}
#modal-assessment-version-basic #versions thead th:nth-child(2){
    width:160px;
}
#modal-assessment-version-basic #versions thead th:nth-child(3){
    width:200px
}



#modal-assessment-version-basic #versions tbody td:nth-child(1){
    width:400px;
}
#modal-assessment-version-basic #versions tbody td:nth-child(2){
    width:160px;
}
#modal-assessment-version-basic #versions tbody td:nth-child(3){
    width:200px;
}


#versions tbody{
    height: 165px;
    overflow: auto;
    width: 780px;
}
#versions td, 
#versions th {
    border: 1px solid #ddd;

}

#versions tr:nth-child(even){background-color: #f2f2f2;}

#versions tr:hover {background-color: #ddd;}

#versions th {
    background-color: #3A9DD3;
    color: white;
}

.button-container {
    margin-left:5%;
    width: 100%;
    margin-top: 30px;

}
.button-container a
{
    width:40%;
    margin-left:5%
}

#modal-assessment-version-basic-question,
#modal-assessment-version-advanced-question
{
    width: 730px;
    height: 270px;
}

#modal-assessment-version-basic-question h2,
#modal-assessment-version-advanced-question h2{
    text-align: center;
}

#modal-assessment-version-basic-question .button,
#modal-assessment-version-advanced-question .button{
        right: 53px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.recommendations-message{
    padding:10px;
    text-align: justify;
    font-size:12px;
}

.fila.centrada input[type='submit'] {
    margin-bottom:20px !important;
}
}

.formulary form .button {
    text-align: center !important;
    font-size: 16px;
    color: #fff !important;
    height: 35px !important;
}

.formulary .button {
    text-align: center !important;
    font-size: 16px;
    color: #fff !important;
    height: 35px !important;
}


/**
    Promotional Codes
*/
#plans .purchase_now {
    margin: 20px 0px 0px 0px;
}

.promotional_check {
    margin-left: calc(50% - 385px);
    /*float: right !important;*/
    max-width: 790px !important;
    /*text-align: center !important;*/
    width: 100% !important;
    /*padding-left:100px;*/
        background-color:#DF3925;
    color:white;
    height:55px;
    border-radius:28px;
}

.promotional_check label {
    cursor:pointer;
    height:55px;
    line-height:55px;
    font-size:18px !important;
    text-align:center !important;
    color:white !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:500;
}
.promotional_check input[type='checkbox']{
    visibility:hidden;
}
.promotional_check:hover{
        box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
   
}

@media (min-width: 500px){
    .purchase_now.promotional{
        height: 100px !important;
    }
    
}

.small-promotional-button .promotional_check  label{
    font-size: 13px !important;
    border-radius: 18px !important;
    height: 35px !important;
    min-height: 35px !important;
    max-height: 55px !important;
    line-height: 35px !important;
}
 
.small-promotional-button .promotional_check{
    margin: 0 auto !important;

    border-radius: 18px !important;
    height: 35px !important;
    min-height: 35px !important;
    max-height: 55px !important;
    width: 250px !important;
}

#additional-text{
        color: #131930;
    font-size: 17px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    width: 100%;
}

#pagina.embed_iframe iframe{
	height: 100vh !important;
}

@media screen and (max-width: 979px){
    #header .logo img {
        background-color: white;
    }
}


.texto-contact {
   color: #444444 !important;
   font-weight: normal !important;
   font-size: 27px;
}
.ns_titulo_upgrade{
    float: none;
    height: auto;
    text-align: center !important;
    display: inline-block;
    border-left: solid 0px #ccc;
    margin: 0 0 0 0;
    width: auto;
    vertical-align: top;
    max-width: initial;
    padding: 10px 0px;
    }

.ns_textonegro_upgrade{
        width: auto;
    height: auto;
    line-height: 30px;
    float: none;
    font-size: 27px;
    color: #000000;
    padding: 0px 0 0 0px;
    vertical-align: middle;
    margin: 0px 0 0 0;
    display: inline-block;
    font-weight: 900;
    text-transform: uppercase;
}

.ns_upgrade_promo_code  .promotional{
    float: unset !important;
    margin: 0 auto !important;

}
.newsoft_contact_us_h1{
    float: none;
    height: auto;
    text-align: center !important;
    display: inline-block;
    border-left: solid 0px #ccc;
    margin: 30px 0 20px 0 !important;
    width: auto;
    vertical-align: top;
    max-width: initial;
    padding: 10px 0px;
}

.newsoft_contact_us_span{
    width: auto;
    height: auto;
    line-height: 30px;
    float: none;
    font-size: 27px;
    color: #444444;
    padding: 0px 0 0 0px;
    vertical-align: middle;
    margin: 0px 0 0 0;
    display: inline-block;
}

.newsoft_contact_us_ul{
    width: 100%;
    float: left;
    text-align: center;
    margin: 10px 0 40px 0;
}

.newsoft_contact_us_ul li{
    width: auto;
    display: inline-block;
    float: none;
    margin: 0px 20px;
    font-size: 15px;
    color: #000;
    text-align: left;
}

.newsoft_contact_us_ul li a{
        float: left;
    width: 100%;
    height: 70px;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding: 25px 0 0 80px;
    font-size: 20px;
    color: #666;
text-align: left;
    text-decoration: none;
    margin: 0px 0px 0 0;

}

.newsoft_contact_us_ul li a.email{
	background-image: url(../images/icono_email.png);
}
.newsoft_contact_us_ul li a.tel{
	background-image: url(../images/icono_telefono.png);
}

#titulo_general .centro h1 span.texto{
    color: #444444 !important;
    font-weight: bold;
}
#menu_superior .pestanas li a.active, #menu_superior .pestanas li a.active:hover {
    color: #444444 !important;
}

.indice a:hover{
	background-color: #444444 !important;
}

#footer.landing hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}

.modal.alerta .contenido .button:hover{
	background-color: #333 !important;
}
.opacidadtrial{
	background-color: rgba(0,0,0,0.85);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0px;

	left: 0px;
	/*z-index: 10000;*/
	display: none;

}
}

.formulario div.aviso_privacidad p.etiqueta {
    font-size: 14px !important;
}

.btn_go_for_it {
    background: linear-gradient(to bottom, #f2f1f1, #f2f2f2, #d1d1d1) ;
}

.modal.formulary .button:hover{
	background-color: #333 !important;
}


/*COmentar blockquote del menu rpsv*/
}

.formulario div.aviso_privacidad p.etiqueta {
    font-size: 14px !important;
}

.btn_go_for_it {
    background: linear-gradient(to bottom, #f2f1f1, #f2f2f2, #d1d1d1) ;
}

.modal.formulary .button:hover{
	background-color: #333 !important;
}


/*COmentar blockquote del menu rpsv*/


#menu .item,
.menu_superior_home,
.container .desc_alt .btn,
.titulo .centro h1
{
    text-transform: uppercase;
}

.mayusculainicial {
    text-transform: lowercase !important;
}

.mayusculainicial::first-letter {
    text-transform: uppercase !important;
}


/*Inicio tooltip*/

.tooltip {
position: relative;
display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 300px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 60px;
        left: 0;
    }

/*.tooltiptext-left {
    
    
}

.tooltiptext-right {

    left: 101%;
}*/

.tooltiptext-special {
    top: 70px !important;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*Fin Tooltip*/

.texto-promocode {
    color: #444444 !important;
    font-weight: normal !important;
    font-size: 16px !important;
    text-align:center;
}

/*
    Images in assessments questions
*/

.assessment-question-image{
    border-radius: 5px;
    max-width: 50%;
}