@using SOMSight.Utils.Extensions
@using SOMSight.Utils

@{
    var _user = @Session.GetCurrentUser();
}
<!-- MODALES-->
<!--================================= MODALS ======================================-->
<div class="opacidad"></div>

<div class="contenedor_modal contenedor_promotional_code">
    <div class="modal formulary">
        <h1 style="background-color: @_user.TenantSkin.TenantStylePrimaryBackgroundColor; color: @_user.TenantSkin.TenantStylePrimaryFontColor;">@TranslatorHelper.TranslateTextByIdentifier("promotional_code_modal_title_text")</h1>
        <div class="contiene" id="promotional_code_content">
        </div>
    </div>
</div>
