@using SOMSight.Utils.Extensions


@{
    ViewBag.Title = "Upgrade";
    if (Session.GetCurrentUser() != null)
    {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";

    }
}

<div id="pagina" class="gris sorry">

    <div class="seccion">
        <div class="centro">

            <p><img src="@Url.Content("~/images/icono_sorry - copia.png")" width="111" height="110" alt="sorry"></p>
            <h2>Sorry</h2>
            <h3>
                <span>
                    We are currently having problems with our system. We will be back soon. Thanks
                </span>
            </h3>

        </div>
    </div>
</div>