*{
    box-sizing:border-box;

}

.acordeon-container{
    margin-top: 10px;
}
.acordeon-titulo{
    font-size:24px;
}
.title-container{
    height:40px;
}
.zones-container{
    height:100%;
    position:relative;
    min-width: 1340px;
}

.zones-container .zone-container .head-container{
    width:100%;
    height:40px;
    background-color:#24a5df;
    /*background-image: linear-gradient(#04519b, #044687 60%, #033769);*/
    color: #555555;
    background-color: #f5f5f5;
    border-color: #dddddd;
    border:1px solid  #e8e8e8;
    
}

.zones-container .zone-container input{
    /*width:20px;
    margin-top:10px;
    cursor:pointer;*/
border: 1px solid #dcd6d6;
height:30px;
}
.zones-container .zone-container label{
    width:calc(90% - 20px);
     margin-top:10px;
     cursor:pointer;

     
}
.zones-container .zone-container .head-container label{
         margin-left: 10px;
    font-size: 18px;

     
}


.zones-container .zone-container .body-container{
    height:100%;
    /*display:none;*/
    border:1px solid #e8e8e8;
    padding:20px;
    width:100%;
    /*opacity:0;*/
    transition: all 0.5s ease;
}
.zones-container .zone-container .body-container button{
    width:50%;
}


.body-container select[multiple]{
    margin-top:20px;
    height:150px;
    width:100%;
}
.body-container span{
    margin-top:10px;
    /*background-color:#7fb843;*/
    /*background-color:#04519b;
        color: #555555;
    padding:10px;
    cursor: pointer;*/
        border-radius: 5px;
}
.btn-primary
{
        background-color: #24a5df;
}
.btn-danger{
        background-color: #eb6b49;
}

.body-container span:hover{
    /*background-color:#618b35;*/
    /*background-color:#022f5a;*/
}

.body-container div{
    height:300px;
    width:calc(99%/3);
    display:inline-block;
}

.body-container div > *{
    display:inline-block;
}

.searcher{
    width: 80% !important;
}
.for-searcher
{
        width:12% !important;
}