@model SOMSight.Models.GenericMessageVM
<div class="modal-header">

    <h4 class="modal-title">Message</h4>

</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="col-md-12">
            <label>@Model.MessageText</label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="@Url.Action("Index")" id="BackToIndexModal" class="btn btn-success">Ok</a>
    
</div>

