@model System.Web.Mvc.HandleErrorInfo
@{
    if(HttpContext.Current.Session["USUARIO_KEY"] != null ) {
        Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    } else {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


} 


<div id="pagina" class="gris sorry">

    <div class="seccion">
        <div class="centro">

            <p><img src="@Url.Content("~/images/icono_sorry - copia.png")" width="111" height="110" alt="sorry"></p>
            <h2>Sorry</h2>
            <h3>
                <span>
                    There was a problem
                </span>
            </h3>
            <p>@ViewBag.Description</p>

        </div>
    </div>
</div>