@model Guid
<div class="modal-header">
    <h4 class="modal-title">Message</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="col-md-12">
            <label>Are you sure to delete the User? </label>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <a class="btn btn-success" href="@Url.Action("DeleteUser", new {pUserId = Model })">
        Confirm
    </a>
</div>
