
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<!--================================= VALLA ======================================-->
<div id="valla" style="background-image:url(@Url.Content("~/images/valla_choose_activity.jpg")">
    <div class="opacity">
        <h1>Start Optimizing</h1>
    </div>
</div>

<!--================================= VALLA ======================================-->

@section Scripts{
    <script src="@Url.Content("~/Scripts/Custom/choose_an_action/chooseAnAction.js")"></script>
    <script type="text/javascript">
        var gGetUrlAction = {
            MeasureMyPlataform: '@Url.Action("MeasureMyPlataform")'
        };
    </script>
}


<!--================================= PAGINA ======================================-->
<div id="pagina" class="gris">

    <div class="seccion">
        <div class="centro">
            <h4>
                Get an up to date summary of your Software assets, using our on-line assessment or our self-inventory discovery tool. Select what is best for your need.
            </h4>

            <ul class="activities">
                <li>
                    <a href="@Url.Action("Index","Assessment")" target="_self" class="red">
                        Participate in
                        <span>Assesments</span>
                    </a>
                </li>


                <li>
                    <a  href="#" target="_self" class="blue" id="measureMyPlatformAction">
                        Measure
                        <span>My platform</span>
                    </a>
                </li>

            </ul>


        </div>
    </div>


</div>

<iframe id="myPlatformIframe" src="#" width="100%" height="800" style="display:none">

</iframe>


<div id="opacidad">
</div>
@*<div id="modalConfirm" class="modal">

    <div class="titulo">
        <h2>Confirm</h2>
        <p class="cerrar">
        </p>
    </div>
    <div class="contenido-justificado">
        <h5>You are being directed outside of the MIcrosoft domain. SomsightTM is a registered trademark of Echez Group. You can find information about Echez Group at the Microsoft Partner Center or with your Microsoft Software Asset management Consultant.</h5>
    </div>
    <div class="footer">
        <button class="ok-button" id="SendAssessmentFinalOk">OK</button>
        <button class="cancel-button">CANCEL</button>
    </div>
</div>*@