@model SOMSight.Models.Tenant.AdminChooseATenantVM


<div class="list-group">
    @foreach (var item in Model.Tenants)
    {
        <label class="form-check-label list-group-item list-group-item-action">
            <input type="radio" class="form-check-input" name="optTenant" value="@item.Id">
            @item.Name
        </label>
    }
    @if (Model.ShowAllOption)
    {
        <label class="form-check-label list-group-item list-group-item-action">
            <input type="radio" class="form-check-input" name="optTenant" value="@Guid.Empty">
            All
        </label>
    }

</div>
