@using SOMSight.Models.Company
@model SOMSight.Models.Company.MyPlatformResultVM

<div class="modal-header">
    <h4 class="modal-title">Measure My Platform</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="gridTableUserMeasure" class="hover table-bordered stripe" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-header">
                        <th class="text-center text-uppercase">
                            <label>SAM Client</label>
                        </th>
                        <th class="text-center text-uppercase">
                            <label>Status</label>
                        </th>
                        <th class="text-center text-uppercase">
                            <label>View info</label>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (SAMClientVM client in Model.SAMClientList)
                    {
                        <tr>
                            <td class="text-center">
                                <label>@client.Name</label>
                            </td>

                            <td class="text-center">
                                @if (@client.HasSAMClient)
                                {
                                    <i class="glyphicon glyphicon-ok-sign"></i>
                                }
                                else
                                {
                                    <i class="glyphicon glyphicon-minus-sign"></i>
                                }
                            </td>
                            <td class="text-center text-uppercase">
                                @if (client.HasSAMClient)
                                {

                                    <a style="margin: 10px;" target="_blank" href="@Url.Action("AdminBoard","MyPlatform",new { @pMyPlatformSubmoduleId=client.ModuleId,@pUserId=Model.UserId })" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-eye-open"></i> View info</a>
                                }
                                else
                                {
                                    <span style="margin: 10px;">-</span>
                                }
                            </td>
                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</div>


<script>

    $(document).ready(function () {
        var ventana_alto = $(window).innerHeight();
        ventana_alto = (ventana_alto > 900) ? (ventana_alto / 1.8) : (ventana_alto / 3);
        var table = $('#gridTableUserMeasure').DataTable({
            "columnDefs": [
                {
                    "width": "50%", "targets": 0,
                    "width": "50%", "targets": 1,
                }
            ],
            "info": false,
            "paging": false,
            "ordering": false,
            "filter": false
        });

    });
</script>
