@model SOMSight.Models.Assessments.AssessmentTypeVM
<div class="modal-header">

    <h4 class="modal-title">Create</h4>

</div>
<div class="modal-body">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <input type="hidden" id="txtAssessmentTypeId" readonly name="name" value="@Model.Id" />
            </div>
            @*<div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Assessment Type</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" readonly name="name" value="@Model.TranslatorAdministratorDescriptionTI" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Assessment Type Description</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" readonly name="name" value="@Model.Description" />
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Translator Text Identifier*</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" data-menssagerequired="The Text Identifier field is required" id="txtTextIdentifierQuestion" class="form-control required" readonly />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <a href="#" data-textidentifier="txtTextIdentifierQuestion" class="btn btn-sm btn-default ModalTextIdentifier"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a title="View Translations" href="#" data-textidentifier="txtTextIdentifierQuestion" class="btn btn-sm btn-default ViewTextIdentifier"><i class="glyphicon glyphicon-eye-open"></i></a>
                        <a href="#" data-textidentifier="txtTextIdentifierQuestion" class="btn btn-sm btn-default ClearModalTextIdentifier"><i class="glyphicon glyphicon-erase"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Status</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="checkbox" id="Status" checked="checked" class="checksize" />
                    </div>
                </div>

            </div>


            <div class="title-container">
                <h2 class="title">Options</h2>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <a href="#" id="addNewOption" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-paperclip"></i> <label class="control-label"> Add </label> </a>
                </div>
            </div>
            <br />
            <div class="row">
                <table data-menssagerequired="The question must have almost one option" id="optionsTable" class="table">
                    <tr class="k-header">
                        <td>Maturity Level</td>
                        <td>Text Identifier</td>
                        <td>Description</td>
                        <td>Recommend</td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-md-12 divmessageerror alert-danger">

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="form-group">
        <button type="button" id="closemodaladd" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <input type="button" value="Create" id="btnSaveQuestion" name="cmd" class="btn btn-success" />
    </div>
</div>