@model SOMSight.Models.NextStepsVM

@{
    ViewBag.Action = "Add";
};


@using (Ajax.BeginForm("SaveNextSteps", null, new AjaxOptions
{
    InsertionMode = InsertionMode.Replace
                                            ,
    UpdateTargetId = "NextStepsContent"
                                            ,
    OnBegin = "OnNextStepsBegin"
                                            ,
    OnSuccess = "OnNextStepsSuccess"
}, new { @id = "NextStepsForm" }))
{
    @Html.HiddenFor(x => x.AssessmentSummaryId)
    <div class="row">
        <label>Next steps</label>
        @Html.TextAreaFor(x => x.NextStepsComments)
        <p class="required">
            @Html.ValidationMessageFor(x => x.NextStepsComments)
        </p>
    </div>
    <div class="row last">
        <a href="#" target="_self" class="button gris cerrar f_left">CANCEL</a>
        <input type="submit" value="OK" class="button rojo f_right" />
        @*<a href="#" target="_self" class="button rojo f_right" id="CreateProcessButtonOK">OK</a>*@
    </div>

}
